body {
    padding-top: 3.5rem;
}

#sign-up:hover {
    color: #231f20;     /*for text new colour (not worked)*/
    background-color: #ffffff;     /*for background new colour (it worked)*/
}

/*bootstrap modifications*/
.w-20 {
    width: 20%;
}

.nav-item{
    text-align: right;
}
/*bootstrap modifications*/

.disease-item-row {
    font-size: 130%;
}

.feed-image {
    width: 15%;
    min-width: 120px;
    height: 15%;
    min-height: 120px;
}

@media screen and (min-width: 601px) {
  h2.feed-title {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 600px) {
  h2.feed-title {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 601px) {
  div.feed-info-text {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 600px) {
  div.feed-info-text {
    font-size: 0.95rem;
  }
}

@media screen and (min-width: 601px) {
  p.feed-text {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 600px) {
  p.feed-text {
    font-size: 1.1rem;
  }
}
