#sign-up:hover {
    color: black;
    background-color: white;
}

#sign-up {
    color: white;
    margin: 6px;
}

#login {
    color: white;
}

#login:hover {
    color: black;
    background-color: white;
}

.logo {
    font-size: 1.6rem;
    color: white;
}

.logo:hover {
    text-decoration: none;
    color: inherit;
}

.feed-text {
    font-size: 1.25rem;
    line-height: 1.8;
}

.feed-info-text {
    font-size: 1.1rem;
}

.feed-image {
    width: 200px;
    height: 200px;
}


/*!*Media querries*!*/
/*@media screen and (min-width: 601px) {*/
/*  h2.feed-title {*/
/*    font-size: 2.3rem;*/
/*  }*/
/*}*/

/*@media screen and (max-width: 600px) {*/
/*  h2.feed-title {*/
/*    font-size: 1.6rem;*/
/*  }*/
/*}*/
